body {
	margin: 0px;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 12pt;
	line-height: 18pt;
	background: #f9f7f4;
	color: #3a3a3a;
}

h1 {
	padding: 8px 0px;
	border-bottom: 2px solid #CCC;
}

#container {
	margin: 8px auto;
	max-width: 960px;
	text-align: justify;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;

	font-size: 16pt;
	line-height: 1;
	background: #222;
	color: #777;
}

header > div {
	margin: 0px 8px;
	width: 960px;
	padding: 12px 0px;
}

header > div > a {
	font-weight: bold;
	color: #FFF;
}

code {
	display: inline-block;
	padding: 0px 4px;
	font-family: 'Overpass Mono', monospace;
	color: #B77;
}

pre {
	background: #EEE;
	padding: 16px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

pre > code {
	color: #555;
}